@CHARSET "UTF-8";

section#roles-list,
section#members-list
{
    background-color: #ece5e5;
	width: 35%;
/* 	margin: 4px;
 */	padding: 4px;
	float: left;
}

section#roles-list > h1,
section#members-list > h1
{
	font-size: 18px;
	color: #a20000;
}


section.roles-list-item,
section.members-list-item
{
	background-color: white;
	margin: 4px auto;
}


section.roles-list-item > h1,
section.members-list-item > h1
{
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    margin: 0px;
    padding: 4px 12px;
}

div.member-roles
{
}

section.roles-list-item a
{
	color: inherit;
}

span.member-role-item
{
	/* background-color: lightgrey; */
	display: inline;
	border: lightgrey 1px solid;
	margin: 2px;
	padding: 2px;
	font-size: 12px;
}

#member-info,
#role-edit
{
    float: left;
    width: 65%;
    padding: 10px;
}

#role-edit section
{
    background-color: crimson;
}

#role-edit section[value="1"]
{
    background-color: darkcyan;
}


#role-edit section h1
{
	font-size: 20px;
}


#member-info #member-basic-info li
{
	list-style: none;
}
#member-info #member-basic-info span
{
	float:left;
	display: block;
    margin: 5px;
}

#member-info #member-basic-info span.label
{
	width: 20%;
	text-align: right;
	clear:both;
}



.app-footer
{
	clear: both;
}