@CHARSET "UTF-8";

main > nav {
	height: 50px;
	padding-top: 4px;
}

main > nav > a {
	padding: 5px;
	float: left;
	color: #a20000;
	background-color: #ece5e5;
}


section#channels-list,
section#roles-list,
section#members-list
{
    background-color: #ece5e5;
	width: 35%;
/* 	margin: 4px;
 */	padding: 4px;
	float: left;
}

section#channels-list > h1,
section#roles-list > h1,
section#members-list > h1
{
	font-size: 18px;
	color: #a20000;
}


section.channels-list-item,
section.roles-list-item,
section.members-list-item
{
	background-color: white;
	margin: 4px auto;
}


section.channels-list-item > h1,
section.roles-list-item > h1,
section.members-list-item > h1
{
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    margin: 0px;
    padding: 4px 12px;
}

div.member-roles
{
}

section.roles-list-item a
{
	color: inherit;
}

span.member-role-item
{
	/* background-color: lightgrey; */
	display: inline;
	border: lightgrey 1px solid;
	margin: 2px;
	padding: 2px;
	font-size: 12px;
}

#member-info,
#role-edit
{
    float: left;
    width: 65%;
    padding: 10px;
}

#role-edit section
{
    background-color: crimson;
}

#role-edit section[value="1"]
{
    background-color: darkcyan;
}


#role-edit section h1
{
	font-size: 20px;
}


#member-info #member-basic-info li
{
	list-style: none;
}
#member-info #member-basic-info span
{
	float:left;
	display: block;
    margin: 5px;
}

#member-info #member-basic-info span.label
{
	width: 20%;
	text-align: right;
	clear:both;
}


.discord-channel
{
    width: 65%;
    float: right;
}

.discord-message
{
	background-color: #2C2F33;
    color: #bbb;
	padding: 7px;
}

.discord-message header
{
    height: 30px;
    padding-top: 4px;
}

.discord-message:not(:first-child) header
{
    border-top: 1px solid grey;
}

.discord-message header section:not(:first-child)
{
    color: #666;
    font-size: 11px;
    margin: 4px;
}


.discord-message header section
{
	float: left;
	margin: 0 10px;
}

.discord-message
{
    clear: both;
}
	
.message-author a
{
    color: inherit;
    font-weight: bold;
}

.discord-message article
{
	font-size: 14px;
}




.app-footer
{
	clear: both;
}