<?php

return [
    'core-db' => [
        'host' => '',
        'port' => '',
        'user' => '',
        'password' => '',
        'database' => '',
        'cache' => [
            'server' => '',
            'timeout' => 2,
            'version' => '',
        ],
    ],
    'dependencies' => [
        'factories' => [
            FTC\Discord\Db\Core::class => FTC\Discord\Db\Postgresql\Factory\Core::class,
            FTCBotCore\Db\DbCacheInterface::class => FTCBotCore\Container\Db\Cache\RedisDbCache::class,
            FTC\Discord\Model\GuildMemberRepository::class => FTC\Discord\Db\Postgresql\Factory\GuildMemberRepository::class,
       ]
    ]
];
