<?php

return [
    'core-db' => [
        'host' => getenv('FTCBOT_DB_HOST'),
        'port' => getenv('FTCBOT_DB_PORT'),
        'user' => getenv('FTCBOT_DB_USER'),
        'password' => getenv('FTCBOT_DB_PASSWORD'),
        'database' => getenv('FTCBOT_DB_DBNAME'),
        'cache' => [
            'server' => getenv('FTCBOT_CORE_CACHE_SERVER'),
            'timeout' => 2,
            'version' => getenv('FTCBOT_CORE_CACHE_VERSION'),
        ],
    ],
    'dependencies' => [
        'factories' => [
            FTC\Discord\Db\Core::class => FTC\Discord\Db\Postgresql\Factory\Core::class,
            FTCBotCore\Db\DbCacheInterface::class => FTCBotCore\Container\Db\Cache\RedisDbCache::class,
            FTC\Discord\Model\GuildMemberRepository::class => FTC\Discord\Db\Postgresql\Factory\GuildMemberRepository::class,
       ]
    ]
];
