<?php

declare(strict_types=1);

return [
    'session' => [
        'key' => getenv('FTC_WEBSITE_SESSION_KEY'),
        'expiration_time' => 1800,
        'cookie_name' => 'slsession',
        'discord_oauth' => [
            'clientId' => getenv('FTCBOT_DISCORD_CLIENT_ID'),
            'clientSecret' => getenv('FTCBOT_DISCORD_TOKEN'),
            'redirectUri' => getenv('FTC_WEBSITE_SESSION_REDIRECT_URI'),
        ],
    ],
    'dependencies' => [
        'factories' => [
            App\SessionMiddleware::class => App\Session\SessionMiddlewareFactory::class,
            App\Middleware\UserMiddleware::class => App\Middleware\UserMiddlewareFactory::class,
        ]
    ],
];
    